{% extends 'layout.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse sidebar-offcanvas" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/users">
                            <img src="/images/logo.png" width="60" height="60" class="d-inline-block" alt="">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/users">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search">Ricerca Carte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wall">Bacheca</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/all_sets">Tutti i set</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="row center initial_container" style="margin-top: 100px " id="content">
        <div class="col s12">
            <div class="card" style="width: 100%;">
                <div class="card-title">
                    <h2>{{ data.name }}</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{ data.images.small }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="row">
                                <table class="table table-responsive-sm">
                                    <thead>
                                    <tr>
                                        <th scope="col">NOME</th>
                                        <th scope="col">SET</th>
                                        <th scope="col">SET ID</th>
                                        <th scope="col">NUMERO</th>
                                        <th scope="col">ARTISTA</th>
                                        <th scope="col">RARITA'</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.set.name }}</td>
                                        <td>{{ data.set.id }}</td>
                                        <td>{{ data.number }}</td>
                                        <td>{{ data.artist }}</td>
                                        <td>{{ data.rarity }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" >
                                <a href="{{ data.cardmarket.url }}" >CARDMARKET</a>
                                <table class="table table-responsive-sm">
                                    <thead>
                                    <tr>
                                        <th>PREZZO DI VENDITA MEDIO</th>
                                        <th>PREZZO PIU' BASSO</th>
                                        <th>TRAND</th>
                                        <th>PREZZO MEDIO ULTIMI 30 GIORNI</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>{{ data.cardmarket.prices.averageSellPrice }}€</td>
                                        <td>{{ data.cardmarket.prices.lowPrice }}€</td>
                                        <td>{{ data.cardmarket.prices.trendPrice }}€</td>
                                        <td>{{ data.cardmarket.prices.avg30 }}€</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <a href="{{ data.tcgplayer.url }}" >TCGPLAYER</a>
                                <table class="table table-responsive-sm">
                                    <thead>
                                    <tr>
                                        <th scope="col">RARITA'</th>
                                        <th scope="col">PREZZO PIU' BASSO</th>
                                        <th scope="col">PREZZO MEDIO</th>
                                        <th scope="col">PREZZO DI VENDITA'</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>NORMALE</td>
                                        <td>{{ data.tcgplayer.prices.normal.low }}€</td>
                                        <td>{{ data.tcgplayer.prices.normal.mid }}€</td>
                                        <td>{{ data.tcgplayer.prices.normal.market }}€</td>
                                    </tr>
                                    <tr>
                                        <td>FOIL</td>
                                        <td>{{ data.tcgplayer.prices.reverseHolofoil.low }}€</td>
                                        <td>{{ data.tcgplayer.prices.reverseHolofoil.mid }}€</td>
                                        <td>{{ data.tcgplayer.prices.reverseHolofoil.mid }}€</td>
                                    </tr>
                                    <tr>
                                        <td>HOLOFOIL</td>
                                        <td>{{ data.tcgplayer.prices.holofoil.low }}€</td>
                                        <td>{{ data.tcgplayer.prices.holofoil.mid }}</td>
                                        <td>{{ data.tcgplayer.prices.holofoil.market }}€</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-success" onclick="add()">Aggiungi Alla Collezione</button>
                    <input type="hidden" name="card_id" value="{{ data.id }}">
                    <input type="hidden" name="tgc_value" value="{{ data.tcgplayer.prices.normal.mid }}">
                    <input type="hidden" name="tgc_value_reverseHolofoil" value="{{ data.tcgplayer.prices.reverseHolofoil.mid }}">
                    <input type="hidden" name="tgc_value_holofoil" value="{{ data.tcgplayer.prices.holofoil.mid }}">
                    <input type="hidden" name="cardmarket_value" value="{{ data.cardmarket.prices.averageSellPrice }}">
                </div>
            </div>
        </div>
    </div>
    <script>
        function add(){

            $('#dialog').remove();
            $('#content').prepend('<div id="dialog" style="padding: 3px 0px 0px 0px;"></div>');
            let cardMarketValue = $("input[name='cardmarket_value']").val();
            let tgcPlayerValue = $("input[name='tgc_value']").val() ;
            let tgcPlayerValueHoloFoil = $("input[name='tgc_value_holofoil']").val();
            let tgcValueReverseHolofoil = $("input[name='tgc_value_reverseHolofoil']").val();
            let id = $("input[name='card_id']").val() ?? 'NOT SET';

            let html = '';
            html += "<label for='value'>Seleziona il valore desiderato:</label>"
            html += "<select name='value' id='value' style='width: 200px;display: inline-block; margin-top: 10px'>";
            html += "   <option value='"+ cardMarketValue+"'>cardMarket: "+ cardMarketValue +" €</option>";
            html += "   <option value='"+ tgcPlayerValue+"'>TgcPlayer: "+ tgcPlayerValue+" €</option>";
            html += "   <option value='"+ tgcPlayerValueHoloFoil+"'>TgcPlayer HoloFoil: "+ tgcPlayerValueHoloFoil+" €</option>";
            html += "   <option value='"+ tgcValueReverseHolofoil+"'>TgcPlayer ReverseHoloFoil: "+ tgcValueReverseHolofoil+" €</option>";
            html += "</select>";
            html += "<label for='condition'>Seleziona la condizione:</label>"
            html += "<select name='condition' id='condition' style='width: 200px;display: inline-block; margin-top: 10px'>"
            html += "   <option value='0'>Mint(M)</option>";
            html += "   <option value='1'>Near Mint(NM)</option>";
            html += "   <option value='2'>Excellent (EX)</option>";
            html += "   <option value='3'>Good (GD)</option>";
            html += "   <option value='4'>Light Played (LP)</option>";
            html += "   <option value='5'>Played (P)</option>";
            html += "   <option value='6'>Poor (P)</option>";
            html += "</select>";
            html += "<label for='quantity'>Quantità:</label>"
            html += "<select name='quantity' id='quantity' style='width: 200px;display: inline-block; margin-top: 10px'>"
            html += "   <option value='1'>1</option>";
            html += "   <option value='2'>2</option>";
            html += "   <option value='3'>3</option>";
            html += "   <option value='4'>4</option>";
            html += "   <option value='5'>5</option>";
            html += "   <option value='6'>6</option>";
            html += "   <option value='7'>7</option>";
            html += "   <option value='8'>8</option>";
            html += "   <option value='9'>9</option>";
            html += "</select>";
            html += "<label for='comment'> Inserisci un commento: ";
            html += "   <input type='text' name='comment' id='comment'>";
            html += "</label>"
            $('#dialog').html(html);

            $("#value").select2();
            $('#dialog').dialog({
                title: 'Aggiungi Alla Tua Collezione',
                width: 500,
                height: 300,
                resizable: false,
                modal: true,
                buttons: {
                    Ok: function() {
                        let value = $( "#value option:selected" ).val();
                        let comment = $("input[name='comment']").val();
                        let condition = $( "#condition option:selected" ).val();
                        let quantity = $( "#quantity option:selected" ).val();
                        $.ajax({
                            url: '/singlecard/addCard',
                            type: 'POST',
                            data: { card_id: id, value: value,comment: comment,condition: condition, quantity: quantity},
                            success: function (response){
                                if(response){
                                    location.reload();
                                }
                            }
                        })

                    }
                }
            });
        }
    </script>
{% endblock %}